In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('play_tennis.csv')
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
# Problem1
# outlook=Sunny,Temp=Hot,Humidity=High,Wind=Weak
# Play or No Play

In [ ]:
# Solution
# P(yes/Sunny,Hot,High,Weak)=P(Sunny/yes)*P(Hot/yes)*P(High/yes)*p(Weak/yes)*P(yes)

# P(No/Sunny,Hot,High,Weak)=P(Sunny/No)*P(Hot/No)*P(High/No)*p(Weak/No)*P(No)

# Max will be answer

In [20]:
# Training

# Lookup Table(Dictionary)

# Testing

# p(yes)
# p(no)

In [11]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [13]:
py=9/14
pn=5/14
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [15]:
# outlook
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [22]:
Prob_yes_on_sunny=2/9
Prob_no_on_sunny=3/5

In [16]:
# temp
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [23]:
Prob_yes_on_hot=2/9
Prob_no_on_hot=2/5

In [18]:
# humidity
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [24]:
Prob_yes_on_high=3/9
Prob_no_on_high=4/5

In [19]:
# wind
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [25]:
Prob_yes_on_weak=6/9
Prob_no_on_weak=2/5

In [30]:
#outlook=Sunny,Temp=Hot,Humidity=High,Wind=Weak
pyes=Prob_yes_on_sunny * Prob_yes_on_hot * Prob_yes_on_high * Prob_yes_on_weak * py
pno=Prob_no_on_sunny * Prob_no_on_hot * Prob_no_on_high * Prob_no_on_weak * pn
print(pyes)
print(pno)

0.007054673721340387
0.02742857142857143

In [ ]:
AS Pno > pyes so the ans will be => no play

In [31]:
# Problem2
#outlook=Overcast,Temp=Cold,Humidity=Low,Wind=Weak
#Play or No Play

In [ ]:
#outlook=Overcast,Temp=Cold,Humidity=Low,Wind=Weak
pyes=Prob_yes_on_sunny * Prob_yes_on_hot * Prob_yes_on_high * Prob_yes_on_weak * py
pno=Prob_no_on_sunny * Prob_no_on_hot * Prob_no_on_high * Prob_no_on_weak * pn
print(pyes)
print(pno)