In [1]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('toy.csv')
df.head(10)

  opponent      venue   outlook  toss result
0      kkr  bangalore  overcast  lost    won
1       mi     mumbai     sunny   won    won
2      rcb     mumbai  overcast   won    won
3      kkr  bangalore     sunny  lost    won
4      kkr  bangalore     sunny   won    won
5       mi    chennai     sunny   won   lost
6      rcb    chennai     sunny   won   lost
7      kkr    chennai  overcast   won    won
8       rr  bangalore     sunny  lost    won
9      rcb     mumbai  overcast   won    won

In [3]:
df['result'].value_counts()

won     17
lost     8
Name: result, dtype: int64

In [4]:
p_won=17/25
p_lose=8/25

In [5]:
print(p_won)
print(p_lose)

0.68
0.32

In [6]:
pd.crosstab(df['opponent'],df['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [7]:
prob_kkr_won=8/17
prob_kkr_lose=2/8

In [8]:
pd.crosstab(df['venue'],df['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [9]:
prob_chennai_won=6/17
prob_chennai_lose=4/8

In [10]:
pd.crosstab(df['outlook'],df['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [11]:
prob_overcast_won=9/17
prob_overcast_lose=3/8

In [12]:
pd.crosstab(df['toss'],df['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [13]:
prob_lost_won=6/17
prob_lost_lose=0

In [14]:
# {"kkr", "chennai","overcast","lost"}
prob_won=prob_kkr_won * prob_chennai_won * prob_overcast_won * prob_lost_won * p_won
prob_lost=prob_kkr_lose * prob_chennai_lose * prob_overcast_lose * prob_lost_lose * p_lose
print(prob_won)
print(prob_lost)

0.02110319560350092
0.0

Conclusion:The team will won the match.